<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lcf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Low Calory Food"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.LCF"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".yogiapp.ThirdActivity"
            android:exported="false" />
        <activity
            android:name=".yogiapp.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".yogiapp.yogi"
            android:exported="false" />
        <activity
            android:name=".DaftarOrder.DaftarOrder"
            android:exported="true" />
        <activity
            android:name=".Activity.MenuMakan"
            android:exported="true" />
        <activity
            android:name=".confirmasiCheckout"
            android:exported="true" />
        <activity
            android:name=".Cart.Cart"
            android:exported="true" />
        <activity
            android:name=".detail"
            android:exported="true" />
        <activity
            android:name=".LoginRegister.Register"
            android:exported="true" />
        <activity
            android:name=".LoginRegister.Login"
            android:exported="true" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>